// header
$input-bcg: #edeef0;
$input-hover-bcg: #e4e5e9;
$btn-hover-bcg: #f5f6f8;

// player

$player-svg-color: #abb3bc;
$player-audio-color: #626d7a;

// main
$content-bcg: #edeef0;

// main left
$nav-a-hover: #e5e7eb;
$nav-svg-color: #5181b8;
$horizontal-color: #dce1e6;

// main center
$new-svg-color: #c5cad0;

// other
$block-border: #dbdcdd;
$block-color: white;
$svg-color: #79838e;
$placeholder-color: #818c99;
$tooltip-bcg: #474747;
$history-settingButton-color: #447bba;
$history-slider-img-color: #71aaeb;
$history-slider-border-logo-color: #aeb7c2;
$history-img-btn: #b3b1ada4;
$history-arrow: #7f7e82;

